{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}



{% block content %}
<div class="container">
    <!-- users name -->
    <h2 class="logo-font mb-4">
        {% if request.user.is_authenticated %}
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="mt-3">{{ user.username }}'s Profile</h2>
            </div>
        </div>
        {% endif %}
    </h2>
    <div class="row m-2">
        <!-- delivery info -->
        <div class="col-12 col-md-6 col-lg-6">
            <h4 class="text-muted">Default Delivery Information</h4>
            <hr>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="mb-3 btn btn-dark">Update Information</button>
            </form>
        </div>
        <!-- order history -->
        <div class="col-12 col-md-6">
            <h4 class="text-muted">Order History</h4>
            <hr>

            <!-- mobile screens -->
            <div class="d-block d-lg-none">
                {% for order in orders %}
                <div class="row">
                    <div class="col-12 mb-2">
                        <strong><h5>Order Number:</h5></strong>
                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                            {{ order.order_number|truncatechars:6 }}
                        </a>
                    </div>
                    <div class="col-12 mb-2">
                        <strong><h5>Order Date:</h5></strong>
                        {{ order.date }}
                    </div>
                    <div class="col-12 mb-2">
                        <strong><h5>Items:</h5></strong>
                        {% for x in order.lineitems.all %}
                        <div class="row">
                            <div class="col-6">
                                {{ x.product.name }} x {{ x.quantity }}
                            </div>
                            <div class="col-6">
                                {{ x.product.price }} each
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-12 mb-2">
                        <strong><h5>Grand Total:</h5></strong>
                        £{{ order.grand_total }}
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>

            <!-- larger screens -->
            <div class="table-responsive d-none d-lg-block">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>
                                {{ order.date }}
                            </td>
                            <td>
                                {% for x in order.lineitems.all %}
                                {{ x.product.name }} x {{ x.quantity }}
                                {% endfor %}
                            </td>
                            <td>
                                £{{ order.grand_total }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}