{% extends "base.html" %}
{% load static %}

{% block page_header %}

<h2 class="text-center mt-3">Thank You</h2>

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'checkout2/css/checkout2.css' %}">
{% endblock %}

{% block content %}

<section class="mb-3">
    <div class="row">
        <div class="col-12">
            <h4>Thanks your order has been submitted.</h4>
            <p>Your order number is: <strong>{{ order.order_number }}</strong>.</p>
            <p>An order confirmation will be sent to <strong>{{ order.email }}</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>Order Summary:</h4>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-12 col-md-7">
            <div class="row">
                <div class="col-12 col-md-6"><strong>Order Number:</strong></div>
                <div class="col-12 col-md-6 ">{{ order.order_number }}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-12 col-md-6"><strong>Order Date:</strong></div>
                <div class="col-12 col-md-6">{{ order.date }}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-12"><strong>Order Details:</strong></div>
            </div>
            {% for item in order.lineitems.all %}
            <div class="row">
                <div class="col-12 col-md-3 mt-2">
                    <p>{{ item.product.name }}</p>
                </div>
                <div class="col-12 col-md-9">
                    <p>{{ item.quantity }} @ £{{ item.product.price }} each</p>
                </div>
            </div>
            <hr class="w-50 m-0">
            {% endfor %}
            <div class="row">
                <div class="col-12 mt-2"><strong>Delivering To:</strong></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 col-md-9">
                    <p>{{ order.full_name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-9 ">
                    <p>{{ order.street_address1 }}</p>
                </div>
            </div>
            {% if order.street_address2 %}
            <div class="row">
                <div class="col-12 col-md-9">
                    <p>{{ order.street_address2 }}</p>
                </div>
            </div>
            {% endif %}
            {% if order.county %}
            <div class="row">
                <div class="col-12 col-md-9 ">
                    <p>{{ order.county }}</p>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-12 col-md-9 ">
                    <p>{{ order.town_or_city }}</p>
                </div>
            </div>
            {% if order.postcode %}
            <div class="row">
                <div class="col-12 col-md-9 ">
                    <p>{{ order.postcode }}</p>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-12 col-md-9 ">
                    <p>{{ order.country }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-9 ">
                    <p>{{ order.phone_number }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3"><strong>Order Total:</strong></div>
                <div class="col-12 col-md-9 mb-1">£{{ order.order_total }}</div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">Delivery:</div>
                <div class="col-12 col-md-9 mb-1">£{{ order.delivery_cost }}</div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">Grand Total:</div>
                <div class="col-12 col-md-9 mb-3">£{{ order.grand_total }}</div>
            </div>
        </div>
        <!-- back to top button -->
        <div class="btt-button back-to-top mb-3 my-auto mx-auto">
            <a class="btt-link d-flex h-100">
                <i class="fas fa-arrow-up mx-auto my-auto"></i>
            </a>
        </div>
    </div>
    </div>
    <!-- <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col-12 col-md-3">Order Number:</div>
                <div class="col-12 col-md-9 ">{{ order.order_number }}</div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">Order Date:</div>
                <div class="col-12 col-md-9 ">{{ order.date }}</div>
            </div>
            <div class="row">
                <div class="col-12">Order Details:</div>
            </div> 
            {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-3">
                        <p>{{ item.product.name }}</p>
                    </div>
                    <div class="col-12 col-md-9 ">
                        <p>{{ item.quantity }} @ £{{ item.product.price }} each</p>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-12">Delivering To:</div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <p>Full Name:</p>
                </div>
                <div class="col-12 col-md-9 ">
                    <p>{{ order.full_name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <p>Street Address 1</p>
                </div>
                <div class="col-12 col-md-9 ">
                    <p>{{ order.street_address1 }}</p>
                </div>
            </div>
            {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-3">
                        <p>Street Address 2</p>
                    </div>
                    <div class="col-12 col-md-9">
                        <p>{{ order.street_address2 }}</p>
                    </div>
                </div>
            {% endif %}
            {% if order.county %}
            <div class="row">
                <div class="col-12 col-md-3">
                    <p>County</p>
                </div>
                <div class="col-12 col-md-9 ">
                    <p>{{ order.county }}</p>
                </div>
            </div>
            {% endif %}
                <div class="row">
                    <div class="col-12 col-md-3">
                        <p>Town or City</p>
                    </div>
                    <div class="col-12 col-md-9 ">
                        <p>{{ order.town_or_city }}</p>
                    </div>
                </div>
            {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-3">
                        <p>Postal Code</p>
                    </div>
                    <div class="col-12 col-md-9 ">
                        <p>{{ order.postcode }}</p>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-12 col-md-3">
                    <p>Country</p>
                </div>
                <div class="col-12 col-md-9 ">
                    <p>{{ order.country }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <p>Phone Number</p>
                </div>
                <div class="col-12 col-md-9 ">
                    <p>{{ order.phone_number }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">Billing Info:</div>
            </div>            
            <div class="row">
                <div class="col-12 col-md-3">Order Total:</div>
                <div class="col-12 col-md-9 ">{{ order.order_total }}</div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">Delivery:</div>
                <div class="col-12 col-md-9 ">{{ order.delivery_cost }}</div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">Grand Total:</div>
                <div class="col-12 col-md-9 "> {{ order.grand_total }}</div>
            </div>
        </div>
    </div> -->
    {% if from_profile %}
    <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
        <span class="text-uppercase">Back to Profile</span>
    </a>
    {% else %}
    <a href="{% url 'home' %}" class="btn btn-md btn-primary mb-3 mt-3">
        <i class="fa-solid fa-chevron-left"></i>
        <span>Back to the homepage</span>
    </a>
    {% endif %}



</section>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

{% endblock %}