html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Montserrat;
}


.main-hero {
    background: url('/media/hero.jpg') no-repeat;
    background-size: 100%;
    width: 100%;
    height: 280px;
}

.fragrance-card {
    width: 300px;
    height: 300px;
}

.fragrance-card img {
    width: 250px;
    height: 250px;
}

.blog {
    height: 600px;
}

footer {
    height: 60px;
}

section {
    height: auto;
    width: 80%;
    margin: 0 auto;
}

.product-card {
    width: 250px;
    height: auto;
    border: 2px solid #7777;
}

.products-image img {
    height: 150px;
    width: 150px;
}

.basket-image img {
    height: 150px;
    width: 150px;
}

.update-link,
.remove-link {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: hidden;
}

.toast-capper {
    height: 2px;
}

.bag-img img {
    height: 50px;
    width: 50px;
}

.footer-links {
    font-size: 20px;
    margin: auto;
}

/* ---------------- media queries ---------------- */

/* mobile screens */
@media screen and (max-width:425px) {}

@media screen and (min-width:426px) and (max-width:1024px) {

    .add-post-form,
    .update-post-form,
    .update-comment {
        width: 70%;
    }

}