html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Montserrat;
}

.main-hero {
    background: url('/media/hero.jpg') no-repeat center center;
    background-size: 100%;
    height: 280px;
}

.fragrance-card {
    width: 300px;
    height: 300px;
}

.fragrance-card img {
    width: 250px;
    height: 250px;
}

.blog {
    height: 600px;
}

footer {
    height: 60px;
}

section {
    height: auto;
    width: 80%;
    margin: 0 auto;
}

.product-card {
    width: 250px;
    height: auto;
    border: 2px solid #7777;
}

.products-image img {
    height: 150px;
    width: 150px;
}

.basket-image img {
    height: 150px;
    width: 150px;
}

.update-link,
.remove-link {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: hidden;
}

.toast-capper {
    height: 2px;
}

.bag-img img {
    height: 50px;
    width: 50px;
}

.footer-links {
    font-size: 20px;
    margin: auto;
}

.carousel-image img {
    height: 200px;
    width: 180px;
}

.shop-by img {
    height: 250px;
    width: 250px;
}

.shop-by h4 {
    color: #000000;
}

.shop-by a {
    text-decoration: none;
}

.footer-links a {
    color: #000000;
}

.back-to-top {
    width: 50px;
    height: 50px;
}

.back-to-top a {
    border: 50%;
    border: 2px solid #777777;
    text-decoration: none;
    color: #777777;
}


/* ---------------- media queries ---------------- */

/* mobile screens */
@media screen and (max-width:425px) {
    .custom-toast {
        width: 250px;
        height: auto;
    }
    .basket-image img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width:426px) and (max-width:1024px) {

    .add-post-form,
    .update-post-form,
    .update-comment {
        width: 70%;
    }

    .carousel-p-text p {
        width: 70%;
        display: inline;
        margin: 0 auto;
    }

}