<nav class="col-12 navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- home -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- products -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'products' %}?category=candles">Candles</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=diffusers">Diffusers</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=candles,diffusers">Shop All</a>
                </div>
            </li>
        </ul>
    </div>
</nav>