{% extends 'base.html' %}

{% block content %}

<h3 class="text-center mt-3">Add a comment</h3>

<!-- Create a comment -->
<div class="row m-4">
    <div class="col-12">
        <p>Please fill out the details to create a post.</p>
        <form method="POST" action="">
            {% csrf_token %}
            {{ comment_form | crispy }}
            <button type="submit" class="btn btn-dark">Add Post</button>
        </form>
    </div>
    <!-- cancel -->
    <div class="col-12">
        <a href="{% url 'read_post' post.id %}" class="btn btn-danger m-2">Cancel</a>
    </div>
</div>

{% endblock %}