{% extends 'base.html' %}

{% block content %}

<h1 class="text-center">Blog Page</h1>

<!-- create a post -->
<div class="row mb-4 mt-4 ml-4 text-info text-center">
    <div class="col-12">
        <button><a href="{% url 'create_post' %}">Create post</a></button>
    </div>
</div>

<!-- search for posts -->
    <div class="row text-right mr-3">
        <div class="col-12">
            <form action="" method="GET">
                <input class="border-black border" type="text" name="blog_search" placeholder="Search the blog">
                <button class="btn btn-sm border-black border" type="submit"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>

<!-- View all blog posts -->
<div class="row ml-4">
    {% for x in posts %}
    <div class="col-3">
        <h4>{{ x.blog_title }}</h4>
        <p>{{ x.content }}</p>
        <small>{{ x.author }}</small>
        <small>{{ x.created_on }}</small>
        <div class="row">
            <div class="col-6">
                <a href="{% url 'read_post' x.id %}">Read more</a>
            </div>
        </div>
        <hr>
    </div>
    {% endfor %}
</div>
    

{% endblock %}
