{% extends 'base.html' %}

{% block content %}

<h1 class="text-center mt-2">Blog Page</h1>
<hr>

<!-- search for posts -->
<div class="row text-center">
    <div class="col-12">
        <form action="" method="GET">
            <input class="border-black border" type="text" name="blog_search" placeholder="Search the blog">
            <button class="btn btn-sm border-black border" type="submit"><i
                    class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</div>

<!-- create a post -->
{% if request.user.is_superuser %}
<div class="row mb-4 mt-4 ml-4 text-info text-center">
    <div class="col-12">
        <a href="{% url 'create_post' %}" class="btn btn-secondary">Create post</a>
    </div>
</div>
{% endif %}

<!-- View all blog posts -->
<div class="row ml-4 mr-4">
    {% for x in posts %}
    <div class="col-12 blog-section mx-auto my-auto">
        <h4>{{ x.blog_title }}</h4>
        <p>{{ x.content }}</p>
        <small>{{ x.author }}</small>
        <small>{{ x.created_on }}</small>
        <div class="row">
            <div class="col-6">
                <a href="{% url 'read_post' x.id %}">Read more</a>
            </div>
        </div>
        <hr>
    </div>
    {% endfor %}
</div>
<!-- back to top button -->
<div class="btt-button back-to-top mx-auto mb-3">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>	
</div>
    

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>

{% endblock %}
