{% extends 'base.html' %}

{% block content %}

<!-- Create a post -->
<div class="row m-4">
    <div class="col-12">
        <p>Please fill out the details to create a post.</p>
        <form method="POST" action="{% url 'create_post' %}" class="add-post-form">
            {% csrf_token %}
            <fieldset class="rounded">
                <legend class="fieldset-label">Details</legend>
                    {{ form.blog_title | as_crispy_field }}
                    {{ form.content | as_crispy_field }}
            </fieldset>
            <button type="submit" class="btn btn-primary">Add Post</button>
        </form>
        <a href="{% url 'view_blog' %}" class="btn btn-dark mt-2">Cancel</a>
    </div>
</div>

{% endblock %}