{% extends 'base.html' %}

{% block content %}

<!-- Update a comment -->
<div class="row m-4 update-comment">
    <div class="col-12">
        <p>Please fill out the details to update your comment.</p>
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset class="rounded">
                <legend class="fieldset-label">Update Comment</legend>
                    {{ comment_form.comment | as_crispy_field }}
            </fieldset>
            <button type="submit" class="btn btn-dark">Update Comment</button>
        </form>
    </div>
    <!-- cancel -->
    <div class="col-12">
        <a href="{% url 'view_blog' %}" class="btn btn-danger m-2">Cancel</a>
    </div>
</div>

{% endblock %}