{% extends 'base.html' %}

{% block content %}

<h2 class="mt-3 text-center">Read Post Page</h2>
<hr>
<h3 class="text-center">{{ post.blog_title }}</h3>
<hr>

<div class="m-4">
    <!-- blog post -->
    <div class="row m-4">
        <div class="col-12">
            <p>{{ post.content }}</p>
            <small>
                <p>{{ post.author }}</p>
            </small>
            <small>
                <p>{{ post.created_on }}</p>
            </small>
            <!-- post admin editing ability -->
            {% if request.user.is_superuser %}
            <div class="row m-4">
                <div class="col-6 col-md-4 col-lg-3">
                    <small><a href="{% url 'update_post' post.id %}" class="text-success">Edit Post</a></small>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <small><a href="{% url 'delete_post' post.id %}" class="text-danger">Delete Post</a></small>
                </div>
            </div>
            {% endif %}
            <hr>
            <!-- view comments -->
            {% for x in post.comments.all %}
            <div class="row">
                <div class="col-12">
                    <p class="text-danger">"{{ x.comment }}"</p>
                    <small><p class="text-info">comment by: {{ x.comment_author }}</p></small>
                    <small><p class="text-danger">{{ x.date }}</p></small>
                    {% if request.user == x.comment_author or is.superuser %}
                        <small><a class="btn btn-sm btn-info" href="{% url 'edit_comment' x.id %}">Edit</a></small>
                        <small><a class="btn btn-sm btn-danger" href="{% url 'delete_comment' x.id %}">Delete</a></small>
                    {% endif %}
                    <hr>
                </div>
            </div>
            {% endfor %}
            <!-- adding comments -->
            {% if request.user.is_authenticated %}
                <a href="{% url 'add_comment' post.id %}">Click here to add a comment</a>
            {% else %}
                <a href="{% url 'account_login' %}">Log in to add a comment</a>
            {% endif %}
        </div>
    </div>
    <!-- back to main blog button-->
    <div class="row mb-4">
        <div class="col-12 text-center">
            <a href="{% url 'view_blog' %}" class="text-info">Go back to the main blog</a>
        </div>
    </div>
</div>

{% endblock %}