{% extends 'base.html' %}

{% block content %}

<!-- Update a post -->
<div class="row m-4">
    <div class="col-12">
        <p>Please fill out the details to update your post.</p>
        <form method="POST" action="" class="update-post-form">
            {% csrf_token %}
            <fieldset class="rounded">
                <legend class="fieldset-label">Update the post</legend>
                    {{ form.blog_title | as_crispy_field }}
                    {{ form.content | as_crispy_field }}
            </fieldset>
            <button type="submit" class="btn btn-dark">Update Post</button>
        </form>
        <!-- cancel -->
        <div class="col-12">
            <a href="{% url 'view_blog' %}" class="btn btn-danger m-2">Cancel</a>
        </div>
</div>
    </div>
</div>

{% endblock %}