{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- product page header -->
<div class="row">
    <div class="col-12">
        <h2 class="text-center mt-3 mb-3"> Shop All Products</h2>
    </div>
</div>
{% endblock %}

{% block content %}

<section class="bg-light p-3">
    <div class="container-fluid">
        <div class="row">
            <!-- product card -->
            {% for product in products %}
            <div class="col-12 col-md-4 col-lg-3 product-card m-2">
                <div class="row">
                    <div class="col-12 products-image text-center m-2">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4>{{ product.name }}</h4>
                    </div>
                </div>
                <hr class="mt-0 mb-1">
                <div class="row">
                    <div class="col-6">
                        <p><strong>Price</strong>: £{{ product.price }}</p>
                    </div>
                    {% if product.rating %}
                        <div class="col-6">
                            <p><strong>Rating</strong>: {{ product.rating }}</p>
                        </div>
                    {% else %}
                        <div class="col-6">
                            <p>Rating: -</p>
                        </div>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <small><a href="{% url 'edit_product' product.id %}"><button>Edit Product</button></a></small>
                    <small><a href="{% url 'delete_product' product.id %}"><button>Delete Product</button></a></small>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-12">
                        <p><i class="fa-solid fa-tag"></i> {{ product.category.visual_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="{% url 'product_details' product.id %}"><button class="mb-3">view details</button></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}